body {
    background-image: url('euli.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.profile-pic {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

.content {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}